/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.0.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: DJANGO_RESCATANDO
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `auth_user` VALUES
(1,'pbkdf2_sha256$1000000$ADpCpTtR09ybNyB1ByX53G$si23GBVVBhc6OZKASWHzOHMFtR52sppA3rv9FUFdLBg=','2025-12-04 16:40:46.900048',1,'admin','','','benjaminignacio1998@gmail.com',1,1,'2025-12-02 03:27:39.960920'),
(2,'pbkdf2_sha256$1000000$RE8seoF0Usw9dYKT3k6sFQ$9PcI4yQN46gX1fCEL5SdwcO9m8PYooQJ7/CC6IlGIgM=',NULL,1,'Administrador','','','Benjaminignacio1998@gmail.com',1,1,'2025-12-02 04:45:12.114886');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_adopcion`
--

DROP TABLE IF EXISTS `mainapp_adopcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_adopcion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `estado` varchar(30) NOT NULL,
  `id_adoptante_id` bigint(20) NOT NULL,
  `id_animal_id` bigint(20) NOT NULL,
  `fecha_contrato` date DEFAULT NULL,
  `solicitud_origen_id` bigint(20) DEFAULT NULL,
  `aprobado_por_id` bigint(20) DEFAULT NULL,
  `fecha_adopcion` date NOT NULL DEFAULT curdate(),
  `fecha_completada` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_adopcion_id_adoptante_id_a53531fa_fk_mainApp_a` (`id_adoptante_id`),
  KEY `mainApp_adopcion_id_animal_id_0960bcb8_fk_mainApp_animal_id` (`id_animal_id`),
  KEY `fk_adopcion_solicitud` (`solicitud_origen_id`),
  KEY `fk_adopcion_aprobado_por` (`aprobado_por_id`),
  CONSTRAINT `fk_adopcion_aprobado_por` FOREIGN KEY (`aprobado_por_id`) REFERENCES `mainapp_usuario` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_adopcion_solicitud` FOREIGN KEY (`solicitud_origen_id`) REFERENCES `mainapp_solicitudadopcion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mainApp_adopcion_id_adoptante_id_a53531fa_fk_mainApp_a` FOREIGN KEY (`id_adoptante_id`) REFERENCES `mainapp_adoptante` (`id`),
  CONSTRAINT `mainApp_adopcion_id_animal_id_0960bcb8_fk_mainApp_animal_id` FOREIGN KEY (`id_animal_id`) REFERENCES `mainapp_animal` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_adopcion`
--

LOCK TABLES `mainapp_adopcion` WRITE;
/*!40000 ALTER TABLE `mainapp_adopcion` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_adopcion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_adoptante`
--

DROP TABLE IF EXISTS `mainapp_adoptante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_adoptante` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tipo_vivienda` varchar(50) NOT NULL,
  `id_usuario_id` bigint(20) DEFAULT NULL,
  `direccion` varchar(200) NOT NULL,
  `email` varchar(254) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `otros_animales` varchar(200) DEFAULT '',
  `por_que_adoptar` longtext NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `tiene_patio` tinyint(1) DEFAULT 0,
  `todos_de_acuerdo` tinyint(1) DEFAULT 1,
  `alimento_mascotas` varchar(200) NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `comuna` varchar(100) NOT NULL,
  `decision_compartida` tinyint(1) NOT NULL,
  `rut` varchar(20) DEFAULT '',
  `es_extranjero` tinyint(1) DEFAULT 0,
  `tiene_residencia_definitiva` tinyint(1) DEFAULT 0,
  `edad` int(11) DEFAULT 18,
  `tiene_o_tuvo_mascotas` tinyint(1) DEFAULT 0,
  `mascotas_esterilizadas_vacunadas` varchar(100) DEFAULT '',
  `miembros_familia` int(11) DEFAULT 1,
  `es_alergico` tinyint(1) DEFAULT 0,
  `medidas_alergia` longtext DEFAULT NULL,
  `tiene_mallas_proteccion` tinyint(1) DEFAULT 0,
  `permiten_mascotas` tinyint(1) DEFAULT 1,
  `tiene_recursos_economicos` tinyint(1) DEFAULT 1,
  `que_pasa_si_mudanza` longtext DEFAULT NULL,
  `acepta_videollamada` tinyint(1) DEFAULT 1,
  `acepta_seguimiento` tinyint(1) DEFAULT 1,
  `acepta_enviar_fotos` tinyint(1) DEFAULT 1,
  `acepta_tenencia_indoor` tinyint(1) DEFAULT 1,
  `foto_carnet_frontal` varchar(100) DEFAULT NULL,
  `foto_carnet_trasera` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_adoptante_id_usuario_id_d3b97ba2_fk_mainApp_usuario_id` (`id_usuario_id`),
  CONSTRAINT `mainApp_adoptante_id_usuario_id_d3b97ba2_fk_mainApp_usuario_id` FOREIGN KEY (`id_usuario_id`) REFERENCES `mainapp_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_adoptante`
--

LOCK TABLES `mainapp_adoptante` WRITE;
/*!40000 ALTER TABLE `mainapp_adoptante` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mainapp_adoptante` VALUES
(1,'Casa',8,'general oscar bonilla 8539','benjaminignacio1998@hotmail.com','Benjam├¡n Ignacio Jorquera Baeza','','Prueba','+569 82526360',0,1,'Royal Cann','Santiago','Pudahuel',0,'19.912.411-0',0,1,27,1,'Si',4,0,'',1,1,1,'Prueba',1,1,1,1,'carnets/14001_0d7gCo9.png','carnets/9001_rm5Ka9d.png');
/*!40000 ALTER TABLE `mainapp_adoptante` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_animal`
--

DROP TABLE IF EXISTS `mainapp_animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_animal` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `especie` varchar(30) NOT NULL,
  `edad` int(11) NOT NULL,
  `sexo` varchar(10) NOT NULL,
  `estado_salud` varchar(100) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `foto` varchar(100) NOT NULL,
  `disponible` tinyint(1) NOT NULL,
  `id_hogar_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_animal_id_hogar_id_241db5cd_fk_mainApp_hogartemporal_id` (`id_hogar_id`),
  CONSTRAINT `mainApp_animal_id_hogar_id_241db5cd_fk_mainApp_hogartemporal_id` FOREIGN KEY (`id_hogar_id`) REFERENCES `mainapp_hogartemporal` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_animal`
--

LOCK TABLES `mainapp_animal` WRITE;
/*!40000 ALTER TABLE `mainapp_animal` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_animal` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_contrato`
--

DROP TABLE IF EXISTS `mainapp_contrato`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_contrato` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `fecha_generacion` date NOT NULL,
  `archivo_pdf` varchar(100) NOT NULL,
  `firma_adoptante` tinyint(1) NOT NULL,
  `firma_admin` tinyint(1) NOT NULL,
  `id_adopcion_id` bigint(20) NOT NULL,
  `id_adoptante_id` bigint(20) NOT NULL,
  `acepta_seguimiento` tinyint(1) NOT NULL,
  `compromiso_cuidado` longtext NOT NULL,
  `fecha_firma_admin` date DEFAULT NULL,
  `fecha_firma_adoptante` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_contrato_id_adopcion_id_40bbf8ef_fk_mainApp_adopcion_id` (`id_adopcion_id`),
  KEY `mainApp_contrato_id_adoptante_id_6968e66e_fk_mainApp_a` (`id_adoptante_id`),
  CONSTRAINT `mainApp_contrato_id_adopcion_id_40bbf8ef_fk_mainApp_adopcion_id` FOREIGN KEY (`id_adopcion_id`) REFERENCES `mainapp_adopcion` (`id`),
  CONSTRAINT `mainApp_contrato_id_adoptante_id_6968e66e_fk_mainApp_a` FOREIGN KEY (`id_adoptante_id`) REFERENCES `mainapp_adoptante` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_contrato`
--

LOCK TABLES `mainapp_contrato` WRITE;
/*!40000 ALTER TABLE `mainapp_contrato` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_contrato` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_donacion`
--

DROP TABLE IF EXISTS `mainapp_donacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_donacion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre_donante` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `monto` decimal(10,2) DEFAULT NULL,
  `fecha` date NOT NULL,
  `comprobante` varchar(100) NOT NULL,
  `comentario` varchar(255) NOT NULL,
  `id_usuario_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_donacion_id_usuario_id_9f7946e6_fk_mainApp_usuario_id` (`id_usuario_id`),
  CONSTRAINT `mainApp_donacion_id_usuario_id_9f7946e6_fk_mainApp_usuario_id` FOREIGN KEY (`id_usuario_id`) REFERENCES `mainapp_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_donacion`
--

LOCK TABLES `mainapp_donacion` WRITE;
/*!40000 ALTER TABLE `mainapp_donacion` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mainapp_donacion` VALUES
(1,'','',NULL,'2025-12-03','comprobantes/Imagen_de_WhatsApp_2025-12-03_a_las_20.23.34_52c42754.jpg','',8),
(2,'','',NULL,'2025-12-03','comprobantes/Imagen_de_WhatsApp_2025-12-03_a_las_20.23.34_b9eb3700.jpg','',8);
/*!40000 ALTER TABLE `mainapp_donacion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_entrevistaadopcion`
--

DROP TABLE IF EXISTS `mainapp_entrevistaadopcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_entrevistaadopcion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `observaciones` varchar(255) NOT NULL,
  `resultado` varchar(20) NOT NULL,
  `id_adopcion_id` bigint(20) NOT NULL,
  `id_admin_id` bigint(20) DEFAULT NULL,
  `id_voluntario_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_entrevistaad_id_adopcion_id_4158738e_fk_mainApp_a` (`id_adopcion_id`),
  KEY `mainApp_entrevistaad_id_admin_id_79035dcc_fk_mainApp_u` (`id_admin_id`),
  KEY `mainApp_entrevistaad_id_voluntario_id_b3c4db53_fk_mainApp_v` (`id_voluntario_id`),
  CONSTRAINT `mainApp_entrevistaad_id_admin_id_79035dcc_fk_mainApp_u` FOREIGN KEY (`id_admin_id`) REFERENCES `mainapp_usuario` (`id`),
  CONSTRAINT `mainApp_entrevistaad_id_adopcion_id_4158738e_fk_mainApp_a` FOREIGN KEY (`id_adopcion_id`) REFERENCES `mainapp_adopcion` (`id`),
  CONSTRAINT `mainApp_entrevistaad_id_voluntario_id_b3c4db53_fk_mainApp_v` FOREIGN KEY (`id_voluntario_id`) REFERENCES `mainapp_voluntario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_entrevistaadopcion`
--

LOCK TABLES `mainapp_entrevistaadopcion` WRITE;
/*!40000 ALTER TABLE `mainapp_entrevistaadopcion` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_entrevistaadopcion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_entrevistavoluntario`
--

DROP TABLE IF EXISTS `mainapp_entrevistavoluntario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_entrevistavoluntario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `observaciones` varchar(255) NOT NULL,
  `resultado` varchar(20) NOT NULL,
  `id_admin_id` bigint(20) DEFAULT NULL,
  `id_voluntario_id` bigint(20) NOT NULL,
  `id_voluntario_entr_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_entrevistavo_id_admin_id_704e7874_fk_mainApp_u` (`id_admin_id`),
  KEY `mainApp_entrevistavo_id_voluntario_id_24dfe1a5_fk_mainApp_v` (`id_voluntario_id`),
  KEY `mainApp_entrevistavo_id_voluntario_entr_i_9d29dfac_fk_mainApp_v` (`id_voluntario_entr_id`),
  CONSTRAINT `mainApp_entrevistavo_id_admin_id_704e7874_fk_mainApp_u` FOREIGN KEY (`id_admin_id`) REFERENCES `mainapp_usuario` (`id`),
  CONSTRAINT `mainApp_entrevistavo_id_voluntario_entr_i_9d29dfac_fk_mainApp_v` FOREIGN KEY (`id_voluntario_entr_id`) REFERENCES `mainapp_voluntario` (`id`),
  CONSTRAINT `mainApp_entrevistavo_id_voluntario_id_24dfe1a5_fk_mainApp_v` FOREIGN KEY (`id_voluntario_id`) REFERENCES `mainapp_voluntario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_entrevistavoluntario`
--

LOCK TABLES `mainapp_entrevistavoluntario` WRITE;
/*!40000 ALTER TABLE `mainapp_entrevistavoluntario` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_entrevistavoluntario` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_fichamedica`
--

DROP TABLE IF EXISTS `mainapp_fichamedica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_fichamedica` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `esterilizado` tinyint(1) DEFAULT 0,
  `fecha_esterilizacion` date DEFAULT NULL,
  `vacunas_al_dia` tinyint(1) DEFAULT 1,
  `ultima_vacunacion` varchar(255) DEFAULT '',
  `ultimo_control` date DEFAULT NULL,
  `proximo_control` date DEFAULT NULL,
  `estado_salud` varchar(100) DEFAULT 'Bueno',
  `observaciones` longtext DEFAULT NULL,
  `id_animal_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_fichamedica_animal` (`id_animal_id`),
  CONSTRAINT `fk_fichamedica_animal` FOREIGN KEY (`id_animal_id`) REFERENCES `mainapp_animal` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_fichamedica`
--

LOCK TABLES `mainapp_fichamedica` WRITE;
/*!40000 ALTER TABLE `mainapp_fichamedica` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_fichamedica` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_hogartemporal`
--

DROP TABLE IF EXISTS `mainapp_hogartemporal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_hogartemporal` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `direccion` varchar(150) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `capacidad_animales` int(11) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `id_voluntario_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_hogartempora_id_voluntario_id_c11f7086_fk_mainApp_v` (`id_voluntario_id`),
  CONSTRAINT `mainApp_hogartempora_id_voluntario_id_c11f7086_fk_mainApp_v` FOREIGN KEY (`id_voluntario_id`) REFERENCES `mainapp_voluntario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_hogartemporal`
--

LOCK TABLES `mainapp_hogartemporal` WRITE;
/*!40000 ALTER TABLE `mainapp_hogartemporal` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mainapp_hogartemporal` VALUES
(1,'Refugio Central - Av. Principal 123','Hogar temporal principal del refugio',50,'activo',1);
/*!40000 ALTER TABLE `mainapp_hogartemporal` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_passwordresettoken`
--

DROP TABLE IF EXISTS `mainapp_passwordresettoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_passwordresettoken` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `token` varchar(100) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `usuario_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `mainapp_passwordresettoken_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `mainapp_usuario` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_passwordresettoken`
--

LOCK TABLES `mainapp_passwordresettoken` WRITE;
/*!40000 ALTER TABLE `mainapp_passwordresettoken` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_passwordresettoken` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_solicitudadopcion`
--

DROP TABLE IF EXISTS `mainapp_solicitudadopcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_solicitudadopcion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_animal_id` bigint(20) NOT NULL,
  `id_adoptante_id` bigint(20) NOT NULL,
  `fecha_solicitud` date NOT NULL,
  `estado` varchar(30) NOT NULL DEFAULT 'pendiente',
  `fecha_entrevista` datetime DEFAULT NULL,
  `observaciones_entrevista` text DEFAULT '',
  `motivo_rechazo` text DEFAULT '',
  `fecha_aprobacion` date DEFAULT NULL,
  `procesado_por_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_solicitud_animal` (`id_animal_id`),
  KEY `fk_solicitud_adoptante` (`id_adoptante_id`),
  KEY `fk_solicitud_procesado_por` (`procesado_por_id`),
  CONSTRAINT `fk_solicitud_adoptante` FOREIGN KEY (`id_adoptante_id`) REFERENCES `mainapp_adoptante` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_solicitud_animal` FOREIGN KEY (`id_animal_id`) REFERENCES `mainapp_animal` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_solicitud_procesado_por` FOREIGN KEY (`procesado_por_id`) REFERENCES `mainapp_usuario` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_solicitudadopcion`
--

LOCK TABLES `mainapp_solicitudadopcion` WRITE;
/*!40000 ALTER TABLE `mainapp_solicitudadopcion` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mainapp_solicitudadopcion` VALUES
(2,1,1,'2025-12-03','rechazada','2025-12-06 11:00:00','','pruieba',NULL,3);
/*!40000 ALTER TABLE `mainapp_solicitudadopcion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_solicitudvoluntariado`
--

DROP TABLE IF EXISTS `mainapp_solicitudvoluntariado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_solicitudvoluntariado` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre_completo` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `instagram` varchar(100) NOT NULL,
  `equipo` varchar(30) NOT NULL,
  `experiencia_previa` longtext NOT NULL,
  `motivacion` longtext NOT NULL,
  `informacion_adicional` longtext NOT NULL,
  `fecha_solicitud` date NOT NULL,
  `estado` varchar(30) NOT NULL DEFAULT 'pendiente',
  `fecha_entrevista` datetime(6) DEFAULT NULL,
  `observaciones_admin` longtext NOT NULL,
  `procesado_por_id` bigint(20) DEFAULT NULL,
  `usuario_solicitante_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_solicitudvo_procesado_por_id_12345678_fk_mainApp_u` (`procesado_por_id`),
  KEY `fk_solicitud_usuario` (`usuario_solicitante_id`),
  CONSTRAINT `fk_solicitud_usuario` FOREIGN KEY (`usuario_solicitante_id`) REFERENCES `mainapp_usuario` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mainApp_solicitudvo_procesado_por_id_12345678_fk_mainApp_u` FOREIGN KEY (`procesado_por_id`) REFERENCES `mainapp_usuario` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_solicitudvoluntariado`
--

LOCK TABLES `mainapp_solicitudvoluntariado` WRITE;
/*!40000 ALTER TABLE `mainapp_solicitudvoluntariado` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_solicitudvoluntariado` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_usuario`
--

DROP TABLE IF EXISTS `mainapp_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_usuario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `cuenta` varchar(70) NOT NULL,
  `email` varchar(100) NOT NULL,
  `contrase├▒a` varchar(255) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `direccion` varchar(150) NOT NULL,
  `rol` varchar(20) NOT NULL,
  `fecha_creacion` date NOT NULL,
  `avatar` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cuenta` (`cuenta`),
  KEY `idx_usuario_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_usuario`
--

LOCK TABLES `mainapp_usuario` WRITE;
/*!40000 ALTER TABLE `mainapp_usuario` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `mainapp_usuario` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mainapp_voluntario`
--

DROP TABLE IF EXISTS `mainapp_voluntario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mainapp_voluntario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tipo_voluntariado` varchar(30) NOT NULL,
  `fecha_ingreso` date NOT NULL,
  `id_usuario_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `mainApp_voluntario_id_usuario_id_77b5408a_fk_mainApp_usuario_id` (`id_usuario_id`),
  CONSTRAINT `mainApp_voluntario_id_usuario_id_77b5408a_fk_mainApp_usuario_id` FOREIGN KEY (`id_usuario_id`) REFERENCES `mainapp_usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mainapp_voluntario`
--

LOCK TABLES `mainapp_voluntario` WRITE;
/*!40000 ALTER TABLE `mainapp_voluntario` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mainapp_voluntario` VALUES
(1,'cuidado','2025-12-02',3);
/*!40000 ALTER TABLE `mainapp_voluntario` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-12-04 13:57:14
